runpod>=1.5.0
torch
torchaudio
torchvision
cuda-python
nemo_toolkit[asr]
hydra-core
omegaconf
pyyaml
lhotse
numpy
soundfile
librosa
soxr
resampy
jiwer
tqdm
scikit-learn
pandas
sentencepiece
transformers
joblib
pooch
numba
llvmlite
platformdirs
future
requests
pydub
lazy_loader
matplotlib
pyannote.audio
